<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Editar - Crud Tilix</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="app">
		<header class="navbar navbar-expand-lg navbar-light bg-light">	
			<a class="navbar-brand" href="#">Tilix Crud Node</a>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<menu-bar></menu-bar>
				</div>
				<div class="col-md-8">
					<h1>{{ message }}</h1>
					
					<form v-bind:action="'/fatura/'+idfatura" method="POST">
						<input type="hidden" name="usuario" value="1">
						<div class="form-group">
							<label for="empresa">Empresa</label>
							<input type="text" class="form-control" id="empresa"  name="nome" placeholder="Empresa" v-bind:value="fatura.nome_empresa">
						</div>
						<div class="form-group">
							<label for="valor">Valor</label>
							<input type="text" class="form-control" id="valor"  name="valor" placeholder="Valor" v-bind:value="fatura.valor">
						</div>
						<div class="form-group">
							<label for="data_vencimento">Data de vencimento</label>
							<input type="text" class="form-control" id="data_vencimento"  name="data_vencimento" placeholder="AAAA-MM-DD" v-bind:value="fatura.data_vencimento">
						</div>
						<div class="form-group">
							<label for="pagou">Pagou ?</label>
							<select class="form-control" id="pagou" name="pagou" v-if="fatura.pagou == 'Não'">
								<option value="Não" selected>Não</option>
								<option value="Sim">Sim</option>
							</select>
							<select class="form-control" id="pagou" name="pagou" v-else="fatura.pagou == 'Sim'">
								<option value="Não">Não</option>
								<option value="Sim" selected>Sim</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</form>
				</div>
			</div>			
		</div>
	</div>
	
	<template id="menu">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" href="/">Faturas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/fatura">Cadastro da fatura</a>
			</li>
		</ul>
	</template>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script>
		var parametros = window.location.pathname;
		var paramentros_array = parametros.split('/');
		var id = paramentros_array[2];
		Vue.component('menu-bar', {
			template: "#menu"
		});
		var mixin = {
            mounted () {
                var url = '/pegarFatura/'+id;
                var vm = this;
                axios.get(url)
                .then(function(r){
                    vm.fatura = r.data[0];
                });
            }
        }
        var app = new Vue({
            el: '#app',
            data: {
				message: 'Editar fatura',
				fatura: [],  
				idfatura: id             
            },
            mixins: [mixin]
        })
    </script>
</body>
</html>