<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Crud Tilix</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <style>
	.editar {
		color: green;
	}
	.excluir {
		border: none;
		color: red;
		background: none;
	}
  </style>
</head>
<body>
    <div id="app">
		<header class="navbar navbar-expand-lg navbar-light bg-light">	
			<a class="navbar-brand" href="#">Tilix Crud Node</a>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<menu-bar></menu-bar>
				</div>
				<div class="col-md-8">
					<h1>{{ message }}</h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Empresa</th>
								<th scope="col">Valor</th>
								<th scope="col">Vencimento</th>
								<th scope="col">Pagou</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr  v-for="fatura in faturas">
								<th scope="row">{{ fatura.idfatura }}</th>
								<th>{{ fatura.nome_empresa }}</th>
								<td>{{ fatura.valor }}</td>
								<td>{{ fatura.data_vencimento }}</td>
								<td>{{ fatura.pagou }}</td>
								<td>
									<a v-bind:href="'/fatura/'+fatura.idfatura" class="editar"><i class="fas fa-edit"></i></a>
									<button class="excluir" @click.stop.prevent="excluirFatura(fatura.idfatura)">
										<i class="fas fa-times"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div v-if="response.status == 'error'" class="alert alert-danger">{{ response.msg }}</div>
        			<div v-if="loader.faturas">Carregando faturas</div>
				</div>
			</div>			
		</div>
	</div>
	
	<template id="menu">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" href="/">Faturas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/fatura">Cadastro da fatura</a>
			</li>
		</ul>
	</template>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script>
		Vue.component('menu-bar', {
			template: "#menu"
		});
        var mixin = {
            mounted () {
                this.loader.fatura = true;
                var url = '/retornaFaturas';
                var vm = this;
                axios.get(url)
                .then(function(r){
                    vm.faturas = r.data;
                    vm.loader.fatura = false;
                });
            }
        }
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Faturas',
                faturas: [],
                loader: {
                    faturas: false
                },
                response: {
                    msg: "Sem resultados",
                    status: ""
                }
			},
			mixins: [mixin],
			methods: {
				excluirFatura(id){
					var url = '/excluirFaturas/'+id;
					var vm = this;
					axios.get(url)
					.then(function(r){
						window.location.href = '/';
					});
				}
			}
            
        })
    </script>
</body>
</html>